@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');
@import "~bootstrap/scss/bootstrap";

body, html {
  height: 100%;
  background-color: rgba(0,0,0,.018);
  color: rgba(0,0,0,.75);
  font-family: 'Nunito';
}
.sticky {
  position: fixed; top: 150px; right: 0px;
  background: #ccc;
  border-radius: 15px;
  padding: 15px;
  z-index: 9999;
}

.icon-color {
  color: #E6E200;
}